#meizu-footer * {
	margin: 0;
	padding: 0
}

#meizu-footer .meizu-row {
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	*word-spacing: -0.43em;
	word-spacing: -0.43em;
	text-rendering: optimizespeed;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap
}

#meizu-footer .col-1-24, #meizu-footer .col-2-24, #meizu-footer .col-3-24,
	#meizu-footer .col-4-24, #meizu-footer .col-5-24, #meizu-footer .col-6-24,
	#meizu-footer .col-7-24, #meizu-footer .col-8-24, #meizu-footer .col-9-24,
	#meizu-footer .col-10-24, #meizu-footer .col-11-24, #meizu-footer .col-12-24,
	#meizu-footer .col-13-24, #meizu-footer .col-14-24, #meizu-footer .col-15-24,
	#meizu-footer .col-16-24, #meizu-footer .col-17-24, #meizu-footer .col-18-24,
	#meizu-footer .col-19-24, #meizu-footer .col-20-24, #meizu-footer .col-21-24,
	#meizu-footer .col-22-24, #meizu-footer .col-23-24, #meizu-footer .col-24-24
	{
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto
}

#meizu-footer .col-1-24 {
	width: 4.1667%;
	*width: 4.1357%
}

#meizu-footer .col-2-24 {
	width: 8.3333%;
	*width: 8.3023%
}

#meizu-footer .col-3-24 {
	width: 12.5000%;
	*width: 12.4690%
}

#meizu-footer .col-4-24 {
	width: 16.6667%;
	*width: 16.6357%
}

#meizu-footer .col-5-24 {
	width: 20.8333%;
	*width: 20.8023%
}

#meizu-footer .col-6-24 {
	width: 25%;
	*width: 24.9690%
}

#meizu-footer .col-7-24 {
	width: 29.1667%;
	*width: 29.1357%
}

#meizu-footer .col-8-24 {
	width: 33.3333%;
	*width: 33.3023%
}

#meizu-footer .col-9-24 {
	width: 37.5000%;
	*width: 37.4690%
}

#meizu-footer .col-10-24 {
	width: 41.6667%;
	*width: 41.6357%
}

#meizu-footer .col-11-24 {
	width: 45.8333%;
	*width: 45.8023%
}

#meizu-footer .col-12-24 {
	width: 50%;
	*width: 49.9690%
}

#meizu-footer .col-13-24 {
	width: 54.1667%;
	*width: 54.1357%
}

#meizu-footer .col-14-24 {
	width: 58.3333%;
	*width: 58.3023%
}

#meizu-footer .col-15-24 {
	width: 62.5000%;
	*width: 62.4690%
}

#meizu-footer .col-16-24 {
	width: 66.6667%;
	*width: 66.6357%
}

#meizu-footer .col-17-24 {
	width: 70.8333%;
	*width: 70.8023%
}

#meizu-footer .col-18-24 {
	width: 75%;
	*width: 74.9690%
}

#meizu-footer .col-19-24 {
	width: 79.1667%;
	*width: 79.1357%
}

#meizu-footer .col-20-24 {
	width: 83.3333%;
	*width: 83.3023%
}

#meizu-footer .col-21-24 {
	width: 87.5000%;
	*width: 87.4690%
}

#meizu-footer .col-22-24 {
	width: 91.6667%;
	*width: 91.6357%
}

#meizu-footer .col-23-24 {
	width: 95.8333%;
	*width: 95.8023%
}

#meizu-footer .col-24-24 {
	width: 100%
}

#meizu-footer .button {
	outline: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#meizu-footer .button::-moz-focus-inner {
	padding: 0;
	border: 0
}

#meizu-footer .button {
	font-family: inherit;
	font-size: 12px;
	*font-size: 90%;
	*overflow: visible;
	padding: 2px 10px;
	color: #444;
	color: rgba(0, 0, 0, 0.80);
	*color: #444;
	border: 1px solid #999;
	border: none rgba(0, 0, 0, 0);
	background-color: transparent;
	text-decoration: none
}

#meizu-footer .button-hover, #meizu-footer .button:hover, #meizu-footer .button:focus
	{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#1a000000', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent),
		color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05)
		40%, rgba(0, 0, 0, 0.10));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%,
		rgba(0, 0, 0, 0.10));
	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05)
		40%, rgba(0, 0, 0, 0.10));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%,
		rgba(0, 0, 0, 0.10))
}

#meizu-footer .button-active, #meizu-footer .button:active {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px
		rgba(0, 0, 0, 0.20) inset
}

#meizu-footer .button::-moz-focus-inner {
	padding: 0;
	border: 0
}

#meizu-footer .button-primary, #meizu-footer a.button-primary {
	background-color: rgb(61, 177, 250);
	color: #fff
}

#meizu-footer {
	z-index: 999;
	font-family: Arial, Muli;
	font-size: 14px;
	color: #515151;
	font-size: 14px;
	position: relative;
	background-color: #fff
}

#meizu-footer li {
	list-style: none
}

#meizu-footer a {
	color: #515151;
	text-decoration: none
}

#meizu-footer .meizu-footer-wrap {
	width: 1140px;
	margin: 0 auto;
	padding: 0 20px
}

#meizu-footer .meizu-footer-link {
	padding: 60px 0;
	border-bottom: 1px solid #f1f1f1
}

#meizu-footer .meizu-footer-link .col-3-24 {
	margin-right: 84px
}

#meizu-footer .meizu-footer-link p {
	padding: 10px 0;
	font-size: 14px;
	font-weight: bold
}

#meizu-footer .meizu-footer-link a {
	line-height: 27px;
	font-size: 12px
}

#meizu-footer .button-language {
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
	padding: 10px 20px;
	background: transparent url(../images/footer-btn-icon.jpg) no-repeat 100%
		80%
}

#meizu-footer .button-language:hover {
	background: transparent url(../images/footer-btn-icon.jpg) no-repeat 100%
		80%
}

#meizu-footer .meizu-footer-phone {
	font-size: 16px
}

#meizu-footer .meizu-footer-info {
	color: #999;
	text-align: right;
	margin-right: 20px;
	font-size: 12px;
	padding-top: 30px
}

#meizu-footer  .meizu-footer-info img {
	margin-bottom: -5px
}

#meizu-footer .meizu-footer-logo {
	padding-top: 33px;
	margin-left: 20px
}

#meizu-footer .meizu-footer-language {
	position: relative;
	margin-top: 10px;
	width: 90px;
	height: 33px
}

#meizu-footer .meizu-footer-select {
	display: none;
	position: absolute;
	text-align: center;
	top: -230px;
	left: 90px;
	background-color: #fff;
	width: 136px;
	border: 1px solid #b7b7b7
}

#meizu-footer .meizu-footer-select li {
	padding: 5px 0
}

#meizu-footer .meizu-footer-select .meizu-row {
	text-align: left;
}

#meizu-footer .footer-flag {
	width: 21px;
	height: 21px;
	background: #fff url(../images/footer-language.png) no-repeat 0 0;
	margin: 3px auto 0 auto
}

#meizu-footer .footer-flag.hk {
	background-position: 0 0
}

#meizu-footer .footer-flag.en {
	background-position: -23px 0
}

#meizu-footer .footer-flag.ru {
	background-position: -46px 0
}

#meizu-footer .footer-flag.il {
	background-position: -69px 0
}

#meizu-footer .footer-flag.cn {
	background-position: -92px 0
}

#meizu-footer .footer-flag.tw {
	background-position: -115px 0
}

#meizu-footer .footer-flag.de {
	background-position: -138px 0
}

#meizu-footer .meizu-footer-select p {
	border-bottom: 1px solid #b7b7b7
}

#meizu-footer .meizu-footer-select li:hover, #meizu-footer .meizu-footer-select li:hover .footer-flag
	{
	background-color: #00a7ea
}

#meizu-footer .meizu-footer-wechat {
	position: relative
}

#meizu-footer .meizu-footer-wechat div {
	cursor: pointer
}

#meizu-footer .meizu-footer-wechat img {
	z-index: 99999;
	display: none;
	position: absolute;
	top: -191px;
	left: 32px;
	_azimuth: expression(this.pngSet ? this.pngSet = true :( this.nodeName == "IMG" &&
		
		 this.src.toLowerCase () .indexOf('.png')>-1?(this.runtimeStyle.backgroundImage=
		
		 "none", this.runtimeStyle.filter= "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+
		
		 this.src+ "', sizingMethod='image')", this.src= "../images/blank.gif"):(this.origBg=
		
		 this.origBg? this.origBg:this.currentStyle.backgroundImage.toString()
		.replace('url("', '') .replace('")', ''), this.runtimeStyle.filter= "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+
		
		 this.origBg+ "', sizingMethod='crop')",
		this.runtimeStyle.backgroundImage= "none")), this.pngSet=true)
}

#meizu-footer .meizu-footer-link a:hover {
	color: #31a5e7
}

#meizu-footer .meizu-footer-info a {
	margin-left: 10px;
	color: #999
}

#meizu-footer.tb .meizu-footer-link {
	border-top: 1px solid #f1f1f1
}

#meizu-footer .meizu-footer-co {
	height: 80px
}

#meizu-footer .meizu-footer-language a:hover {
	color: #515151
}

@media screen and (max-width:1180px) {
	#meizu-footer .meizu-footer-co, #meizu-footer .meizu-footer-link,
		#meizu-footer .meizu-footer {
		width: 1180px
	}
}
