html, body {
	margin: 0;
	padding: 0
}

.win-win-header {
	font-size: 14px;
	border-bottom: 1px solid #e9e9e9;
	font-family: Arial, Muli;
	overflow-x: hidden
}

.win-win-header a {
	color: #515151;
	text-decoration: none
}

.win-win-header a.hover, .win-win-header a:hover {
	color: #31a5e7
}

.win-win-header ul.win-win-header li {
	list-style: none;
	margin: 0;
	padding: 0
}

.win-win-header p {
	margin: 0;
	padding: 0
}

.win-win-header-cb {
	clear: both
}

.win-win-header-wrap {
	width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden
}

.win-win-header-wrap-sub {
	width: 1180px;
	margin: 0 auto
}

.win-win-header-logo {
	display: inline;
	float: left;
	padding: 30px 0
}

.win-win-header-logo-img {
	display: block;
	width: 224px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/logo.png);
	background-image: -webkit-image-set(url(../images/logo.png) 1x, url(../images/logo@2x.png)
		2x)
}

.win-win-header-link {
	display: inline;
	float: right;
	overflow: hidden
}

.win-win-header-link li {
	display: inline;
	float: left
}

.win-win-header-link a {
	display: block;
	padding: 57px 22px 30px 22px
}

.win-win-header-log {
	display: inline;
	float: right;
	padding: 57px 0 0 50px;
	text-align: right;
	font-size: 12px
}

.win-win-header-sub {
	z-index: 100;
	display: none;
	position: absolute;
	left: 0px;
	top: 90px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9
}

.win-win-header-sub-product {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 5px
}

.win-win-header-sub-product a {
	padding: 31px 12px 7px 12px
}

.win-win-header-sub-product a:hover {
	color: #515151
}

.win-win-header-sub-products {
	overflow: hidden
}

.win-win-header-sub-img {
	width: 112px;
	height: 102px
}

.win-win-header-sub-product .win-win-header-sub-desc {
	padding: 10px 0
}

.win-win-header-sub-img.mx1 {
	background: transparent url(../images-product-nav/KMT-1.jpg) no-repeat center bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/KMT-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/KMT-1.jpg) 1x, url(../images-product-nav/KMT-1.jpg) 2x);
}

.win-win-header-sub-img.mx2 {
	background: transparent url(../images-product-nav/FLOW-1.jpg) no-repeat
		center bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/FLOW-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/FLOW-1.jpg) 1x,
		url(../images-product-nav/FLOW-1.jpg) 2x);
}

.win-win-header-sub-img.mx3 {
	background: transparent
		url(../images-product-nav/ACC-1.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/ACC-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/ACC-1.jpg) 1x,
		url(../images-product-nav/mx4.jpg) 2x);
}

.win-win-header-sub-img.mx4 {
	background: transparent
		url(../images-product-nav/JETEDGE-1.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/JETEDGE-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/JETEDGE-1.jpg) 1x,
		url(../images-product-nav/JETEDGE-1.jpg) 2x);
}

.win-win-header-sub-img.mx5 {
	background: transparent
		url(../images-product-nav/BHT-1.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/BHT-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/BHT-1.jpg) 1x,
		url(../images-product-nav/BHT-1.jpg) 2x);
}

.win-win-header-sub-img.mx6 {
	background: transparent
		url(../images-product-nav/table.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/table.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/table.jpg) 1x,
		url(../images-product-nav/table.jpg) 2x);
}

.win-win-header-sub-img.mx7 {
	background: transparent
		url(../images-product-nav/robot1.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/robot1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/robot1.jpg) 1x,
		url(../images-product-nav/robot1.jpg) 2x);
}

.win-win-header-sub-img.mx8 {
	background: transparent
		url(../images-product-nav/others-1.jpg) no-repeat center
		bottom;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images-product-nav/others-1.jpg);
	background-image: -webkit-image-set(url(../images-product-nav/others-1.jpg) 1x,
		url(.../images-product-nav/others-1.jpg) 2x);
}

.win-win-header-link-product:hover .win-win-header-sub,
	.win-win-header-link-product.hover .win-win-header-sub {
	display: block
}

.win-win-header-link-product:hover .win-win-header-link-product-a,
	.win-win-header-link-product.hover .win-win-header-link-product-a {
	color: #31a5e7
}

.a-prod1, .a-prod2, .a-prod3 {
	-webkit-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out
}

@media screen and (max-width:1180px) {
	.win-win-header {
		width: 1180px
	}
}